* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  padding: 10rem 0;
  background: #181f2e;
  color: #cacaca;
}

h1,
h2 {
  margin: 1rem 0;
}

p {
  margin: 0.5rem 0;
}

.wrapper {
  width: 60%;
  padding: 3rem 0;
}

.wrapper h2 {
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}
